
/*

These are reset styles. I like to use them at the start of every project I do, as it gets the browser how it should
and make sure that you aren't going to spend half a morning looking to fix some stupid browser specific bug that could
have been fixed just by using a browser reset! :)

*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}  

/* End of browser reset styles */

/* FONTS */

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Baskerville';
    src: url('../fonts/BASKVILL.ttf') format('truetype');
    /* src: url('../fonts/oswald/oswald-webfont.eot?#iefix') format('eot'), url('../fonts/oswald/oswald-webfont.woff') format('woff'), url('../fonts/oswald/oswald-webfont.ttf') format('truetype'), url('../fonts/oswald/oswald-webfont.svg#webfont1Pz3m7lF') format('svg'); */
}


/* END OF FONTS/*


/* CSS FOR COVER PAGE */	


	#wrapper {
		width: 768px;
		height: 1024px;
		text-align:left;
		background-color: #ccccff;
	}
	
	#cowLarge {
		position:absolute;
		width: 365px;
		height: 1000px;
		top: -5px;
		left: 390px;
		/* top: -300px;
		left: 350px; */
		background-image: url(../images/cow-large.png);		
	}

	#cowSmall {
		position:absolute;
		width: 111px;
		height: 231px;
		top: 0px;
		left: 100px;
		/* top: 0px;
		left: 140px; */
		background-image: url(../images/cow-small.png);		
	}
	
	#title {
		position:absolute;
		width: 370px;
		height: 223px;
		top: 780px;
		left: 25px;
		/* top: 720px;
		left: 90px; */
		background-image: url(../images/title.png);
		
	}
	
/* END OF CSS FOR COVER PAGE */	
	
	
/* CSS FOR PAGE 001 */	
	
	#wrapper001 {
		width: 768px;
		height: 1024px;
		text-align:left;
		background-color: black;
	}
	
	#handsBoy {
		position:absolute;
		width: 255px;
		height: 603px;
		top: 280px;
		left: 140px;
		background-image: url(../images/hands-boy.png);		
	}
	
	#handsGirl {
		position:absolute;
		width: 243px;
		height: 585px;
		top: 280px;
		left: 400px;
		background-image: url(../images/hands-girl.png);		
	}
	
	#handsTitle {
		position:absolute;
		width: 250px;
		height: 171px;
		top: 130px;
		left: 310px;
		background-image: url(../images/hands-text.png);		
	}
	
/* END OF CSS FOR PAGE 001 */	
	
	
/* CSS FOR PAGE 002 */	

#wrapper002 {
	width: 768px;
	height: 1024px;
	text-align:left;
	background-color: #ccccff;
}

#farm {
	position:absolute;
	width: 776px;
	height: 340px;
	top: 650px;
	left: auto;
	background-image: url(../images/farm.png);		
}

#farmText1 {
	position:absolute;
	text-align:justify;
	font-family:'Baskerville';
	font-size:20px;
	width:300px;
	top:60px;
	left:60px;
}

#farmText2 {
	position:absolute;
	text-align:justify;
	font-family:'Baskerville';
	font-size:20px;
	width:300px;
	top:60px;
	left:420px;
}


/* END OF CSS FOR PAGE 002 */	
	


/* CSS FOR PAGE 003 */	

#wrapper003 {
	width: 768px;
	height: 1024px;
	text-align:left;
	background-color: #ccccff;
}

#crimbg {
	position:absolute;
	width: 536px;
	height: 800px;
	top: auto;
	left: auto;
	background-image: url(../images/criminals.jpg);		
}

/* END OF CSS FOR PAGE 003 */	


/* CSS FOR PAGE 004 */	

#wrapper004 {
	width: 768px;
	height: 1024px;
	text-align:left;
	background-color: #ccccff;
}


#escapeText1 {
	position:absolute;
	text-align:justify;
	font-family:'Baskerville';
	font-size:20px;
	width:600px;
	top:60px;
	left:84px;
}

#pianoPic {
	position:relative;
	width: 328px;
	height: 365px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	background-image: url(../images/piano.png);	
	display:block;	
}


/* END OF CSS FOR PAGE 004 */	


/* CSS FOR PAGE 005 */	

#wrapper005 {
	width: 768px;
	height: 1024px;
	text-align:left;
	background-color: #cc9966;
}

#diggerPic {
	position:absolute;
	width: 498px;
	height: 521px;
	top: 80px;
	left: 135px;
	background-image: url(../images/digger.png);	
}

#diggerText1 {
	position:absolute;
	text-align:center;
	font-family:'Baskerville';
	font-style:bold;
	font-size:65px;
	width:600px;
	top:670px;
	left:84px;
}

#diggerText2 {
	position:absolute;
	text-align:center;
	font-family:'Baskerville';
	font-size:30px;
	width:600px;
	top:770px;
	left:84px;
}



/* END OF CSS FOR PAGE 004 */	


/* CSS FOR PAGE 005 */	


#peacock {
	position:absolute;
	width: 700px;
	height: 1007px;
	top: 10px;
	left: 40px;
	background-image: url(../images/peacock.jpg);	
}

#dangers {
	position:absolute;
	text-align:justify;
	font-family:'Baskerville';
	color:#996633;
	font-style:bold;
	font-size:60px;
	top:20px;
	left:20px;
}

#joys {
	position:absolute;
	text-align:justify;
	font-family:'Baskerville';
	color:#996633;
	font-size:60px;
	top:930px;
	left:630px;
}

/* END OF CSS FOR PAGE 005 */	



/* CSS FOR CREDITS PAGE */	

#squidPic {
	position:absolute;
	width: 786px;
	height: 532px;
	top: 460px;
	left:-18px;
	background-image: url(../images/squidsinblue.png);	
}

#creditTextTitle {
	position:absolute;
	text-align:justify;
	font-family:'Baskerville';
	color:#ccccff;
	font-size:60px;
	width:350px;
	top:70px;
	left:430px;
}


#creditTextEnd {
	position:absolute;
	text-align:justify;
	font-family:'Baskerville';
	color:#ccccff;
	font-size:25px;
	top:340px;
	left:84px;
}



/* END OF CSS FOR CREDITS PAGE */	

	